body {
	color: black;
	background: white;
	font: 12pt sans-serif;
}

#board {
	display: inline-block;
}

#board .cell {
	background: lightGray;
	display: inline-block;
	width: 37px;
	height: 37px;
	background-image: url(empty.png);
}

#board .cell.white {
	background-image: url(white.png);
}

#board .cell.black {
	background-image: url(black.png);
}

#board .cell.white.selected {
	background-image: url(white-selected.png);
}

#board .cell.black.selected {
	background-image: url(black-selected.png);
}

#board .cell.highlighted {
	background-image: url(empty-highlighted.png);
}

#board .cell.white.highlighted {
	background-image: url(white-highlighted.png);
}

#board .cell.black.highlighted {
	background-image: url(black-highlighted.png);
}

#board .label {
	display: inline-block;
	width: 37px;
	height: 37px;
	overflow: hidden;
	text-align: center;
	font: 24px sans-serif;
	color: lightGray;
}

#historyHolder {
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	overflow: scroll;
}

#historyHolder h2 {
	margin: 0;
	padding: 0 0.5em 0 0.5em;
}

#history {
	padding: 1em;
	text-align: left;
}

table#history td.label {
	text-align: right;
	color: darkGrey;
}

table#history td.move {
	text-align: center;
	cursor: pointer;
}

table#history td.move.selected {
	background: #00ffff;
}

table#history td.move.future {
	color: darkGrey;
}
